{{! @template filter_playerhud/modals }}
<div class="modal fade ph-z-index-high" id="phItemModalFilter" tabindex="-1" aria-labelledby="phModalTitleF" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="phModalTitleF">{{str_details}}</h5>
                <button type="button" class="btn-close ph-modal-close-f" data-bs-dismiss="modal" aria-label="{{str_close}}"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-start">
                    <div id="phModalImageContainerF" class="me-3 text-center" style="min-width: 80px;"></div>
                    <div>
                        <h4 id="phModalNameF" class="m-0 fw-bold"></h4>
                        <div id="phModalDescF" class="text-muted mt-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
